#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  max-width: 100%;  
  box-sizing: border-box;
}

$c: #292D3F;

body {
  background-color: $c;
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
}

@font-face {
  font-family: 'CourCyr';
  src: url("https://utidteam.com/fonts/cool_font.ttf");
}

#code {
  height: 100%;
}


p {
  margin-top: 0;
  color: #fff;
}

.output {
  @media screen and (orientation:portrait) {
    height: 50%;
  }

  display: flex;
  flex-direction: column;

  p {
    @media screen and (orientation:portrait) {
      margin-top: 32px;
    }

    margin-top: 0;
  }

  #output {
    background-color: $c;
    border: 1px solid white;
    color: #fff;
    border-radius: 5px;
    resize: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'CourCyr';
    padding: 10px;
  }
}

.App {
  @media screen and (orientation:portrait) {
    flex-direction: column;
  }

  width: 100%;
  padding: 8px;
  height: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;

  .compilation {
    @media screen and (orientation:portrait) {
      margin-right: 0;
      height: 50%;
    }

    display: flex;
    flex-direction: column;
    margin-right: 10px;

    .editor {
      margin-bottom: 10px;

      &,
      & > * {
        height: 100%;
        text-align: left;
      }
    }
  }

  &>* {
    @media screen and (orientation:portrait) {
      width: 100%;
    }

    width: 50%;
    box-sizing: border-box;
  }
}

#output {
  label {
    display: block;
  }
}